/*
@import 'calendar.scss';
@import 'chart-showcase.scss';
@import 'elements.scss';
*/
@font-face { font-family: 'proxima_nova_rgregular'; src: url("../font/proxima-nova/ProximaNova-Reg-webfont.eot"); src: url("../font/proxima-nova/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima-nova/ProximaNova-Reg-webfont.woff") format("woff"), url("../font/proxima-nova/ProximaNova-Reg-webfont.ttf") format("truetype"), url("../font/proxima-nova/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'proxima_nova_rgbold'; src: url("../font/proxima-nova/ProximaNova-Bold-webfont.eot"); src: url("../font/proxima-nova/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima-nova/ProximaNova-Bold-webfont.woff") format("woff"), url("../font/proxima-nova/ProximaNova-Bold-webfont.ttf") format("truetype"), url("../font/proxima-nova/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold") format("svg"); font-weight: bold; font-style: bold; }

@font-face { font-family: 'proxima_nova_ltlight'; src: url("../font/proxima-nova/ProximaNova-Light-webfont.eot"); src: url("../font/proxima-nova/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima-nova/ProximaNova-Light-webfont.woff") format("woff"), url("../font/proxima-nova/ProximaNova-Light-webfont.ttf") format("truetype"), url("../font/proxima-nova/ProximaNova-Light-webfont.svg#proxima_nova_ltlight") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'proxima_novaregular_italic'; src: url("../font/proxima-nova/ProximaNova-RegIt-webfont.eot"); src: url("../font/proxima-nova/ProximaNova-RegIt-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proxima-nova/ProximaNova-RegIt-webfont.woff") format("woff"), url("../font/proxima-nova/ProximaNova-RegIt-webfont.ttf") format("truetype"), url("../font/proxima-nova/ProximaNova-RegIt-webfont.svg#proxima_novaregular_italic") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'proxima_novalight_italic'; src: url("../font/proxima-nova/ProximaNova-LightIt-webfont.eot"); src: url("../font/proxima-nova/ProximaNova-LightIt-webfont.eot?#iefix") format("embedded-opentype"), url(".../font/proxima-nova/ProximaNova-LightIt-webfont.woff") format("woff"), url("../font/proxima-nova/ProximaNova-LightIt-webfont.ttf") format("truetype"), url("../font/proxima-nova/ProximaNova-LightIt-webfont.svg#proxima_novalight_italic") format("svg"); font-weight: normal; font-style: normal; }

h1, h2, h3, h4 { font-family: 'proxima_nova_rgbold', 'Open Sans', 'Arial'; margin-bottom: 20px; }

.hero p { font-size: 18px; }

body { font-family: 'proxima_nova_rgregular', 'Open Sans', 'Arial'; }

.navbar-inverse { background: #131313; min-height: 72px; }

.nav { color: #818181; }
.nav a { color: #6e6e6e; font-size: 1.2em; }
.nav a:hover { color: #33b5e5 !important; }
.nav li.active-page a { color: #33b5e5 !important; }

.navbar-inverse .nav > li > a { padding: 6px 15px 1px; }

.navbar .nav { margin: 18px 10px 0 0; }

.navbar-inner { border: none; }

.navbar-inverse .navbar-inner { border: none; }

#sidebar-nav { padding-top: 3em; }

#dashboard-menu > li > a { font-size: 1.2em; color: #686868; border-bottom: none; box-shadow: none; padding: 10px 14px 15px 14px; }
#dashboard-menu > li > a span { margin-left: 1px; }

#dashboard-menu > li.active a { text-shadow: none; font-weight: normal !important; }

#dashboard-menu > li.active > a, #dashboard-menu > li > a:hover { text-decoration: none; }

nav.get-started .get-started, nav.app-style .app-style, nav.html .html, nav.h-devices .h-devices, nav.h-standards .h-standards, nav.h-branding .h-branding, nav.h-grids .h-grids, nav.h-typography .h-typography, nav.h-colors .h-colors, nav.h-iconography .h-iconography, nav.h-templates .h-templates, nav.h-tools .h-tools, nav.contact .contact { color: #33b5e5 !important; }

#dashboard-menu ul.submenu { padding-left: 22px; }

/* sidebar submenus 
		> li.active .dropdown-toggle {
			border-bottom: 0px;
			box-shadow: none;
		}
		ul.submenu {
			list-style-type: none;
			display: none;
			margin-top: 7px;
			margin-bottom: 15px;
			margin-right: 5px;
			margin-left: -15px;
			padding-left: 15px;
			border-bottom: 1px solid #dae1e8;
			box-shadow: 0 2px 1px -1px #FFFFFF;
			padding-bottom: 10px;
			&.active {
				display: block;
			}
			a {
				font-weight: normal;
				font-size: 13px;
				color: rgb(76, 83, 90);
				text-decoration: none;
				display: block;
				margin-bottom: 7px;
				&:hover {
					text-decoration: underline;
				}
				&.active {
					font-weight: bold;
					text-shadow: none;
				}
			}*/
.languages { display: block !important; }

ul.submenu { margin-top: -9px !important; }

ul.sub-submenu { list-style-type: none; display: none; margin-top: 7px; margin-bottom: 15px; margin-right: 5px; margin-left: -37px; padding-left: 15px; border-bottom: 1px solid #dae1e8; box-shadow: 0 2px 1px -1px #FFFFFF; padding-bottom: 10px; }
ul.sub-submenu.active { display: block; }
ul.sub-submenu a { font-weight: normal; font-size: 13px; color: #4c535a; text-decoration: none; display: block; margin-bottom: 7px; }
ul.sub-submenu a:hover { text-decoration: underline; }
ul.sub-submenu a.active { font-weight: bold; text-shadow: none; }
