<!DOCTYPE html>
<html>
<head>
	<title>TradingApp Design</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- bootstrap -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="css/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/elements.css">
    <link rel="stylesheet" type="text/css" href="css/icons.css">

    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/index.css" type="text/css" media="screen" />

    <!-- Tradestation Styles -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />   

    <!-- Load Typekit Fonts 
    // Font is not allowed for github at this time.
    <script type="text/javascript" src="//use.typekit.net/ebc4hga.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body ng-app="tsAppGuide">

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="brand" href="index.html"><img src="img/logo.png"></a>

            <!--
            <ul class="nav hidden-sm">
                <li class="active-page"><a href="#">Design</a></li>
                <li><a href="#">Develop</a></li>
                <li><a href="#">Deploy</a></li>
            </ul>
            --> 

            <ul class="nav pull-right">                
                <li class="hidden-phone">
                    <input class="search" type="text" />
                </li>
            </ul>            
        </div>
    </div>
    <!-- end navbar -->

<!--
<div ng-controller="typographyController">
     <div ng-view=""></div>
</div>
-->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <!--<nav class="{{active}}" ng-click="$event.preventDefault()">-->
        <nav class="{{active}}" >
        <ul id="dashboard-menu">
            <li ng-click="active='get-started'">
                <!--<div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                -->
                <a class="get-started" href="#">
                    <span>Get Started</span>
                </a>
            </li>            
            <li>
                <a ng-click="active='app-style'" class="app-style dropdown-toggle" href="#">
                    <span>App Style</span>
                    <i class="icon-chevron-down"></i>
                </a>
                
                <ul class="submenu languages">
                    <li>
                        <a ng-click="active='html'" class="sub-dropdown-toggle html" href="#/html">HTML<i class="icon-chevron-down"></i></a>
                            <ul class="sub-submenu">
                                <li>
                                    <a ng-click="active='h-devices'" class="h-devices" href="#/html/devices">
                                        <span>Devices</span> 
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="active='h-standards'" class="h-standards" href="#/html/standards">
                                        <span>Standards</span> 
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="active='h-branding'" class="h-branding" href="#/html/branding">
                                        <span>Branding</span> 
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="active='h-grids'" class="h-grids" href="#/html/grids">
                                        <span>Grids</span> 
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="active='h-typography'" href="#/html/typography" class="h-typography">
                                        <span>Typography</span> 
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="active='h-colors'" class="h-colors" href="#/html/colors">
                                        <span>Colors</span> 
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="active='h-iconography'" class="h-iconography" href="#/html/iconography">
                                        <span>Iconography</span> 
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="active='h-templates'" class="h-templates "href="#/html/templates">
                                        <span>Templates</span> 
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="active='h-tools'" class="h-tools" href="#/html/tools">
                                        <span>Tools</span> 
                                    </a>
                                </li>
                            </ul>
                    </li>
                    <li><a ng-click="active='winforms'" class="winforms" href="#/winforms">WinForms <!--<i class="icon-chevron-down"></i>--></a>
                        <!--<ul class="sub-submenu">
                                <li>
                                    <a href="#/winforms">
                                        <span>Standards</span> 
                                    </a>
                                </li>
                                <!--
                                <li>
                                    <a href="#">
                                        <span>Branding</span> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Grids</span> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Typography</span> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Colors</span> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Iconography</span> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Templates</span> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Tools</span> 
                                    </a>
                                </li>
                                
                            </ul>
                        -->
                    </li>
                </ul>

            </li> <!-- End first menu Item -->
            <!--
            <li>
                <a class="dropdown-toggle" href="#">
                    <span>Downloads</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="#">Logos</a></li>
                    <li><a href="#">Icons</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span>Tutorials</span>
                    <i class="icon-chevron-down"></i>
                </a>
            </li>
            -->
        </ul>
        </nav>
    </div>
    <!-- end sidebar -->


    <div class="content home">
        <div class="container-fluid">
            <div id="pad-wrapper">
                    <div ng-view=""></div>
            </div>
        </div>
    </div>

    <!-- test
    <div ng-controller="testCtrl">
       {{ helloMessage }}
    </div>
    -->

    <!-- AngularJS injects page views here-->
    

	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- Add AngularJS Stable-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
    <!-- AngularJS -->
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>


    <script src="js/bootstrap.min.js"></script>

    <!-- knob -->
    <script src="js/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="js/jquery.flot.js"></script>
    <script src="js/jquery.flot.stack.js"></script>
    <script src="js/jquery.flot.resize.js"></script>
    <script src="js/theme.js"></script>

    
    <!--
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    -->
    
    <script type="text/javascript">
        $(function () {

            // jQuery Knobs
            $(".knob").knob();

            // jQuery UI Sliders
            $(".slider-sample1").slider({
                value: 100,
                min: 1,
                max: 500
            });
            $(".slider-sample2").slider({
                range: "min",
                value: 130,
                min: 1,
                max: 500
            });
            $(".slider-sample3").slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 40, 170 ],
            });

            
            // jQuery Flot Chart
            var visits = [[1, 50], [2, 40], [3, 45], [4, 23],[5, 55],[6, 65],[7, 61],[8, 70],[9, 65],[10, 75],[11, 57],[12, 59]];
            var visitors = [[1, 25], [2, 50], [3, 23], [4, 48],[5, 38],[6, 40],[7, 47],[8, 55],[9, 43],[10,50],[11,47],[12, 39]];

            var plot = $.plot($("#statsChart"),
                [ { data: visits, label: "Signups"},
                 { data: visitors, label: "Visits" }], {
                    series: {
                        lines: { show: true,
                                lineWidth: 1,
                                fill: true, 
                                fillColor: { colors: [ { opacity: 0.1 }, { opacity: 0.13 } ] }
                             },
                        points: { show: true, 
                                 lineWidth: 2,
                                 radius: 3
                             },
                        shadowSize: 0,
                        stack: true
                    },
                    grid: { hoverable: true, 
                           clickable: true, 
                           tickColor: "#f9f9f9",
                           borderWidth: 0
                        },
                    legend: {
                            // show: false
                            labelBoxBorderColor: "#fff"
                        },  
                    colors: ["#a7b5c5", "#30a0eb"],
                    xaxis: {
                        ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4,"APR"], [5,"MAY"], [6,"JUN"], 
                               [7,"JUL"], [8,"AUG"], [9,"SEP"], [10,"OCT"], [11,"NOV"], [12,"DEC"]],
                        font: {
                            size: 12,
                            family: "Open Sans, Arial",
                            variant: "small-caps",
                            color: "#697695"
                        }
                    },
                    yaxis: {
                        ticks:3, 
                        tickDecimals: 0,
                        font: {size:12, color: "#9da3a9"}
                    }
                 });

            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css( {
                    position: 'absolute',
                    display: 'none',
                    top: y - 30,
                    left: x - 50,
                    color: "#fff",
                    padding: '2px 5px',
                    'border-radius': '6px',
                    'background-color': '#000',
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#statsChart").bind("plothover", function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(0),
                            y = item.datapoint[1].toFixed(0);

                        var month = item.series.xaxis.ticks[item.dataIndex].label;

                        showTooltip(item.pageX, item.pageY,
                                    item.series.label + " of " + month + ": " + y);
                    }
                }
                else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        });
    </script>
</body>
</html>