// Imports all SCSS 

/*
@import 'calendar.scss';
@import 'chart-showcase.scss';
@import 'elements.scss';
*/

// Custom CSS need to break out later

// Turn Off Resonsive Design

// Type

h1, h2, h3, h4 {
	margin-bottom: 20px;
}

.hero h1, p {
	// color: #f9f9f9;
}

// Hero

.hero p {
	font-size: 18px;
}

.home {
}


// Navbar

.navbar-inverse {
	background: #131313;
	min-height: 72px;
}

.nav {
	color: #818181;

	a {
		color: #6e6e6e;
		font-size: 1.2em;

		&:hover {
			color: #33b5e5 !important;
		}
	}

	li.active-page a {
		color: #33b5e5 !important;
	}
}

.navbar-inverse .nav > li > a {
	padding: 6px 15px 1px;
	
	
}

.navbar-inverse .nav > li:first-child {
		// border-left: 1px solid #333333;
	}

.navbar .nav {
	margin: 18px 10px 0 0;
}

.navbar-inner {
	border: none;
}

.navbar-inverse .navbar-inner {
	border: none;
}

// Sidebar 

#sidebar-nav {
	padding-top: 3em;
}

#dashboard-menu > li > a {
	font-size: 1.2em;
	color: #686868;
	border-bottom: none;
	//border-bottom: 1px solid #dae1e8;
	//box-shadow: 0 2px 1px -1px #FFFFFF;
	box-shadow: none;
	padding: 10px 14px 15px 14px;

	span {
			margin-left: 1px;
	}
}



#dashboard-menu > li.active a {
	text-shadow: none;
	font-weight: normal !important;
}

#dashboard-menu > li.active > a, #dashboard-menu > li > a:hover {
	color: #33b5e5;
	text-decoration: none;
}

#dashboard-menu ul.submenu {
	padding-left: 22px;
}


/* sidebar submenus 
		> li.active .dropdown-toggle {
			border-bottom: 0px;
			box-shadow: none;
		}
		ul.submenu {
			list-style-type: none;
			display: none;
			margin-top: 7px;
			margin-bottom: 15px;
			margin-right: 5px;
			margin-left: -15px;
			padding-left: 15px;
			border-bottom: 1px solid #dae1e8;
			box-shadow: 0 2px 1px -1px #FFFFFF;
			padding-bottom: 10px;
			&.active {
				display: block;
			}
			a {
				font-weight: normal;
				font-size: 13px;
				color: rgb(76, 83, 90);
				text-decoration: none;
				display: block;
				margin-bottom: 7px;
				&:hover {
					text-decoration: underline;
				}
				&.active {
					font-weight: bold;
					text-shadow: none;
				}
			}*/

			//languages displays block for HTML/EL
			.languages {
				display: block !important;
			}

			ul.sub-submenu {
			list-style-type: none;
			display: none;
			margin-top: 7px;
			margin-bottom: 15px;
			margin-right: 5px;
			//margin-left: -15px;
			margin-left: -37px;
			padding-left: 15px;
			border-bottom: 1px solid #dae1e8;
			box-shadow: 0 2px 1px -1px #FFFFFF;
			padding-bottom: 10px;
			&.active {
				display: block;
			}
			a {
				font-weight: normal;
				font-size: 13px;
				color: rgb(76, 83, 90);
				text-decoration: none;
				display: block;
				margin-bottom: 7px;
				&:hover {
					text-decoration: underline;
				}
				&.active {
					font-weight: bold;
					text-shadow: none;
				}
			}
		}