<!-- main container -->
                <h1>Getting Started</h1>
                <p>With TradingApps, you can build dynamic client-side applications for novice or experienced traders using TradeStation’s proprietary EasyLanguage® programming language. Whether you choose to use EasyLanguage Windows Forms or leverage the power of HTML, our guidelines will help you provide the best user interface for our clients.</p>
                </br>
                <h3>Choose your prefered UI</h3>

                <a class="btn-easy-language" href="#/winforms"><img src="img/btn-easy-language.png"></a>
                <a class="btn-html" href="#/html/standards"><img src="img/btn-html.png"></a>
