<h1>HTML General UI Considerations</h1>
</br>
</br>
<H3>Avoid Scrollbars</h3>
<p>Ideally, your app is full visible and functional within the viewport and without the need to scroll. But if you must, avoid horizontal scrolling at all costs.</p>

<img src="img/el-standards-e11.png">

<h3>Gutter & Spacing</h3>
<p>
Allow at least a 10 pixel space between the content of your app and the edge of the window. This produces a visual separation of content and frame that allows the user to visually focus and it's pleasant to the user.
Using this same space in between elements when possible. This makes for evenly spaced UI elements.
</p>

<img src="img/el-standards-e12.png">

<h3>Fonts & Font-size</h3>
<p>
Try to use sans-serif fonts like Calibri or Arial. Sans-serif fonts are usually easier to read on the screen. The ideal font size for reading on a screen is 16px. Try not to use more than three font sizes within the viewport, for example: 20px for headings, 16px for buttons and 12px for grid numbers.
</p>
</br>
</br>
<h3>Buttons</h3>
<p>
When choosing button colors, it’s recommended to use “flat” or single color buttons as opposed to complicated gradients. Avoid the use of bevels and/or textures in buttons, unless they are very subtle.
</p>

<img src="img/el-standards-e13.png">