<!-- main container -->
    <div class="content home">
        <div class="container-fluid">
            <div id="pad-wrapper">
            <div class="hero">
                <h1>TradingApp Store</h1>
                <p>A virtually endless supply of new ideas and
                trading tools. Explore the store today and discover how</br>
                TradingApps can transform the way you trade.</p>

                <img src="img/hero-apps.png">

            <center><h2>Built by traders, for traders.</h2></center>
            </div>

            </div>
        </div>
    </div>
