<!-- main container -->

            <div class="hero">
                <h1>TradingApp Guide</h1>
                <p>With TradingApps, you can build dynamic client-side applications for novice or experienced traders using TradeStation’s proprietary EasyLanguage® programming language. Whether you choose to use EasyLanguage Windows Forms or leverage the power of HTML, our guidelines will help you provide the best user interface for our clients.</p>

                <img src="img/hero-apps.png">

            <center><h2>Built by traders, for traders.</h2></center>
