

    <!-- main container -->
    <div class="content home">
        <div class="container-fluid">
            <div id="pad-wrapper">
            <div class="hero">
                <h1>Typography</h1>
                <h2>Applications</h2>
                <p>To provide a consistent, uniform 
look to the TradeStation brand’s use 
of typography, Proxima Nova should 
be used as the primary typeface for 
all communications for TradeStation 
products and services.
Proxima Nova typeface family 
provides a variety of weights to suit any 
design with clarity and distinction.
A subset of Proxima Nova has been 
licensed from Fontspring for embedding 
in software applications. The application 
license is limited by “application title,” but 
one license covers unlimited platforms, 
sales and upgrades. Please contact the 
TradeStation UX/UI Department for 
additional information.</p>

                <hr>

            Proxima Nova Thin
ABCDEFGHIJKLMNOPQRSTUVWXYZ</br>
abcdefghijklmnopqrstuvwxyz</br<
1234567890</br>
<section>
Proxima Nova Thin Italic
ABCDEFGHIJKLMNOPQRSTUVWXYZ</br>
abcdefghijklmnopqrstuvwxyz</br>
1234567890</br>

Proxima Nova Light
ABCDEFGHIJKLMNOPQRSTUVWXYZ</br>
abcdefghijklmnopqrstuvwxyz</br>
1234567890</br>
Proxima Nova Light Italic
ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
1234567890
Proxima Nova Regular
ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
1234567890
Proxima Nova Regular Italic
ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
            </div>

            </div>
        </div>
    </div>

